
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: #111114;
  font-size: 0.875rem;
  line-height: 1.5;
 
}
@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #2d314d;
  font-weight: 500;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container {
    max-width: 69.375rem;
    margin: 0 auto;
  }
}

button,
.button {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.8125rem 2.1875rem;
  border-radius: 2px;
  background: linear-gradient(to right, #0543ee, #2bb7da);
  color: white;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
}

button::after,
.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

button:hover::after,
.button:hover::after {
  opacity: 1;
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.fade-in {
  opacity: 1;
  visibility: visible;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #2d314d linear-gradient(to bottom, #2d314d, transparent);
  transition: 0.5s ease-in-out;
}

.section-heading {
  text-align: center;
  margin-bottom: 1.875rem;
}

.header {
  position: relative;
  padding: 1.0625rem 0;
  z-index: 1;
  background: rgb(107, 200, 239);
}

.header nav {
  position: relative;
}

.header .logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

@media (max-width: 63.9375em) {
  .header .main-navgation {
    position: absolute;
    top: calc(100% + 3.875rem);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(119, 214, 245);
    border-radius: 0.3125rem;
    padding: 1.625rem;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  .header .main-navgation.fade-in {
    top: calc(100% + 2.625rem);
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}

.header .main-navgation a {
  padding: 0.625rem 0;
  color: #0a0a0a;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.header .main-navgation a:hover {
  color: #101012;
}

@media (min-width: 64em) {
  .header .main-navgation a {
    position: relative;
    font-size: 0.875rem;
    color: #111115;
  }
  .header .main-navgation a:not(:last-child) {
    margin-right: 2rem;
  }
  .header .main-navgation a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1.25rem;
    width: 100%;
    height: 0.3125rem;
    background: linear-gradient(to right, #0e0f0f, #0c0e0f);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .header .main-navgation a:hover {
    color: #2d314d;
  }
  .header .main-navgation a:hover::after {
    opacity: 1;
  }
}

.header .menu {
  width: 1.625rem;
  cursor: pointer;
}

.header .menu > span {
  display: block;
  width: 100%;
  height: 0.125rem;
  background: #2d314d;
  transform-origin: 0.1875rem 0.0625rem;
  transition: transform 0.3s ease-in-out;
}

.header .menu > span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header .menu.open > span:first-child {
  transform: rotate(45deg);
}

.header .menu.open > span:nth-child(2) {
  transform: scaleX(0);
}

.header .menu.open > span:last-child {
  transform: rotate(-45deg);
}

.hero {
  background: #fafafa;
}

@media (max-width: 63.9375em) {
  .hero .container {
    padding: 0;
  }
}

@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}

.hero .hero-image {
  position: relative;
  background: url('mainimg.jpg')
    no-repeat center/cover;
  min-height: 17.5rem;
  
}

@media (min-width: 40em) {
  .hero .hero-image {
    min-height: 55rem;
    background-position-y: 70%;
  }
}

@media (min-width: 64em) {
  .hero .hero-image {
    flex: 3;
    order: 2;
    min-height: 41rem;
    background-image: none;
  }
  .hero .hero-image::before {
    content: "";
    position:absolute ;
    
    height: 100%;
    width: 50%;
    background: url('mainimg.jpg')
      no-repeat -5% 83%/122%;
  }
}


.hero .hero-text {
  text-align: center;
}

@media (max-width: 63.9375em) {
  .hero .hero-text {
    padding: 3.125rem 1.5rem;
  }
}

@media (min-width: 64em) {
  .hero .hero-text {
    flex: 2;
    order: 1;
    text-align: start;
  }
}
